body {
  margin: 0;
  padding: 0;
  background-color: rgba(249, 251, 255, 0.733);
}
#main {
  margin: 0 15%;
  padding: 3%;
  background-color: #fffffff6;
  border: 1px solid rgb(243, 238, 238);
}
header {
  border: 1px solid #023e8a;
  background-color: #023e8a;
  height: 100px;
  text-align: center;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.89);
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #08489c;
  color: #48cae4;
  padding: 0px;
  text-align: center;
}
.header-nav ul {
  padding: 0px;
  list-style: none;
}
.header-nav ul li {
  display: inline;
  padding: 0 100px;
}
.header-nav ul li a {
  padding: 2px 50px;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #08489c;
}
.header-nav ul li a:hover {
  color: rgb(212, 225, 241);
}
.img {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
img {
  border-radius: 10px;
  border: 1px solid rgba(195, 171, 127, 0.644);
  box-shadow: 3px 10px 10px -3px rgb(204, 197, 197);
}
aside {
  position: fixed;
  margin: 1% 1% 1%;
  padding: 0% 2% 1% 0;
  line-height: 300%;
  background-color: #fffffff6;
  border: 1px solid rgb(243, 238, 238);
}
aside ul {
  list-style: none;
}
aside ul li a {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  color: rgb(107, 96, 96);
  text-decoration: none;
  border-bottom: 3px solid #fffffff6;
}
aside ul li a:hover {
  border-bottom: 3px solid #08489c;
}
aside ul li a:active {
  color: red;
}
aside ul li a:focus {
  color: red;
}
article {
  margin: auto;
  justify-content: center;
  width: 80%;
  margin-top: 2%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgb(61, 68, 94);
}
article h1 {
  padding: 10px;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(235, 233, 233);
  font-weight: 700;
  font-size: 2em;
  color: rgb(62, 75, 119);
}
article h2 {
  padding: 10px;
  text-align: center;
  font-weight: 400;
  color: rgb(62, 75, 119);
}
hr {
  border: none;
  background: linear-gradient(to right, white, rgb(192, 201, 238), white);
  height: 2px;
}
.i {
  text-decoration: italic;
}
.sections-class {
  /* border:1px dashed rgb(236, 229, 229); */
  box-shadow: 0px 2px 8px 0px rgb(238, 236, 236);
  padding: 20px;
  margin: 4% 0;
  border-radius: 10px;
}
section {
  text-align: center;
}
iframe {
  align-items: center;
}
.div-table {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 2px 0;
  margin: 40px 0;
  line-height: 20px;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  box-shadow: 0px 8px 10px 0px rgba(246, 246, 246, 0.952);
  border: 2px dashed rgb(182, 182, 182);
  padding: 4px 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
footer {
  display: flex;
  justify-content: space-around;
}
.text-color {
  color: rgb(41, 35, 35);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: #fffffff6;
  border: 1px solid rgb(243, 238, 238);
  margin-top: 2%;
}
.menu ul {
  padding: 0px;
  list-style: none;
}
.menu ul li {
  display: inline;
}
.menu ul li a {
  padding: 2px 50px;
  margin: 2px 50px;
  display: inline-block;
  color: rgb(107, 96, 96);
  text-decoration: none;
  border-bottom: 3px solid #fffffff6;
}
.menu ul li a:hover {
  color: rgb(41, 35, 35);
  font-weight: 700;
  border-bottom: 3px solid #08489c;
}
.menu ul li a:active {
  color: red;
}
.references {
  background-color: rgb(236, 237, 243);
  padding: 10px;
  border-radius: 10px;
  color: rgb(41, 35, 35);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
}
.references ul li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
